@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

body {
  background: url(sakura.png), pink;
  font-family: 'Cinzel Decorative', cursive;
}

.back {
  background: rgba(231, 30, 33, 0.53);
  width: 800px;
  margin: 0 auto;
}

header, h2, h3 {
  text-align: center;
}

.iria1{
  display: flex;
  margin: 30px;
  border: 2px solid black;
}

.iria2{
  display: flex;
  margin: 30px;
  border: 2px solid black;
}

.iria3{
  display: flex;
  margin: 30px;
  border: 2px solid black;
}

.text{
  margin: 10px;
}

.ir{
  margin: 10px;
}

.inf{
  text-align: justify;
}
